* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  background-color: #e6dac9;
}

.map-container {
  position: relative;
}

.map-image {
  width: 100%;
}

.marker {
  position: absolute;
  transform: translate(-50%, -100%);
}

.marker-info {
  position: absolute;
  background-color: #f5f5ed;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 600px;
  z-index: 1;
  overflow-y: auto;
}

.navigation-container {
  position: fixed;
  top: 10px;
}

.navigation-plus-button {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 10px;
  background: #5e5d5d url("./assets/icons/plus-icon.svg") center no-repeat;
  border-radius: 5px;
}

.navigation-minus-button {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 48px;
  left: 10px;
  background: #5e5d5d url("./assets/icons/minus-icon.svg") center no-repeat;
  border-radius: 5px;
}

.navigation-reset-button {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 96px;
  left: 10px;
  background: #5e5d5d url("./assets/icons/reset-icon.svg") center no-repeat;
  border-radius: 5px;
}

.persons-instruction-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 67px;
  width: 365px;
}

.persons-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  top: 10px;
  background-color: #f5f5ed;
  border-radius: 10px;
  border: 2px solid #ccc5c5;
}

.instruction-container {
  text-align: center;
  margin-top: 5px;
  background-color: #f5f5ed;
  border-radius: 10px;
  border: 2px solid #ccc5c5;
  padding: 5px;
}

.rounded-corners {
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.instruction {
  background-color: #dddddd;
  display: none;
  border: 2px solid #ccc5c5;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  max-height: 300px;
  overflow-y: auto;
}

.language-container {
  position: fixed;
  top: 10px;
  right: 370px;
  z-index: 1;
}

.language-button {
  background-color: #f5f5ed;
  border: 2px solid #ccc5c5;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  /* width: 50px; */
}

.persons-colors {
  width: 30px;
}

.green-color {
  background-color: #27ac24;
  height: calc(100% / 8);
}

.orange-color {
  background-color: #ca8428;
  height: calc(100% / 8);
}

.violet-color {
  background-color: #a246d0;
  height: calc(100% / 8);
}

.red-color {
  background-color: #ca223a;
  height: calc(100% / 8);
}

.blue-color {
  background-color: #4495cf;
  height: calc(100% / 8);
}

.yellow-color {
  background-color: #fed52e;
  height: calc(100% / 8);
}

.black-color {
  background-color: #3d3d3d;
  height: calc(100% / 8);
}

.grey-color {
  background-color: #7b7b7b;
  height: calc(100% / 8);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5ed;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 2px solid #ccc5c5;
}

.button {
  font-size: 16px;
  background-color: #ccc5c5;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.toggle-button:hover,
.close-button:hover {
  background-color: #b2a6a6;
}

.close-button {
  margin-top: 10px;
}

.search-button {
  background-color: #aacbaf;
}

.search-button:hover {
  background-color: #87ab8c;
}

.clear-button {
  background-color: #cb8fa2;
}

.clear-button:hover {
  background-color: #ae7f8e;
}

ul {
  display: none;
  padding-left: 0;
}

ul li {
  list-style: none;
  background-color: #dddddd;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ccc5c5;
}

ul li:hover {
  background-color: #b2a6a6;
}

ul li:first-child {
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: none;
}

ul li:nth-last-child(2),
#april1942 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.calendar-container {
  display: none;
}

.calendar-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.calendar-flex-item {
  text-align: center;
  width: calc(100% / 7);
}

.calendar-flex-item:not(.selected-date):hover {
  background-color: #ccc5c5;
}

.hidden-date {
  opacity: 0.3;
}

.hidden-date:hover {
  background-color: inherit;
}

.selected-date {
  background-color: #ccc5c5;
}

@media only screen and (max-width: 1024px) {
  .navigation-plus-button {
    width: 40px;
    height: 40px;
  }

  .navigation-minus-button {
    width: 40px;
    height: 40px;
    top: 42px;
  }

  .instruction-container {
    font-size: 14px;
    padding: 4px;
  }

  .instruction {
    font-size: 14px;
  }

  .navigation-reset-button {
    width: 40px;
    height: 40px;
    top: 84px;
  }

  .persons-instruction-container {
    left: 57px;
    width: 325px;
  }

  .persons-container {
    gap: 8px;
    left: 60px;
    font-size: 14px;
    border-radius: 8px;
  }

  .language-container {
    right: 315px;
  }

  .language-button {
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    /* width: 40px; */
  }

  .search-container {
    font-size: 14px;
    width: 300px;
    gap: 6px;
    padding: 8px;
    border-radius: 8px;
  }

  .button {
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
  }

  .marker-info {
    max-width: 350px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .navigation-plus-button {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .persons-colors {
    width: 20px;
  }

  .navigation-minus-button {
    width: 24px;
    height: 24px;
    top: 26px;
    background-size: 16px;
  }

  .instruction-container {
    font-size: 8px;
    padding: 3px;
  }

  .instruction {
    font-size: 8px;
  }

  .navigation-reset-button {
    width: 24px;
    height: 24px;
    top: 52px;
    background-size: 16px;
  }

  .persons-instruction-container {
    left: 30px;
    width: 185px;
  }

  .persons-container {
    gap: 5px;
    left: 30px;
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
  }

  .language-container {
    right: 188px;
  }

  .language-button {
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    /* width: 24px; */
  }

  .search-container {
    font-size: 9px;
    width: 180px;
    gap: 3px;
    padding: 3px;
    border-radius: 8px;
    right: 5px;
  }

  .button {
    font-size: 8px;
    border-radius: 4px;
    height: 20px;
  }

  ul li {
    height: 20px;
  }

  ul li:first-child {
    margin-top: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .close-button {
    margin-top: 5px;
  }

  .navigation-plus-button,
  .navigation-minus-button,
  .navigation-reset-button {
    left: 5px;
  }

  .marker-info {
    max-width: 250px;
    font-size: 8px;
  }
  .marker {
    max-width: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .navigation-plus-button {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }

  .persons-colors {
    width: 15px;
  }

  .instruction-container {
    font-size: 6px;
    padding: 2px;
  }

  .instruction {
    font-size: 6px;
  }

  .navigation-minus-button {
    width: 18px;
    height: 18px;
    top: 20px;
    background-size: 12px;
  }

  .navigation-reset-button {
    width: 18px;
    height: 18px;
    top: 40px;
    background-size: 12px;
  }

  .persons-instruction-container {
    left: 24px;
    width: 145px;
  }

  .persons-container {
    gap: 5px;
    left: 24px;
    font-size: 6px;
  }

  .language-container {
    right: 140px;
  }

  .language-button {
    font-size: 6px;
    /* width: 18px; */
  }

  .search-container {
    font-size: 6px;
    width: 130px;
  }

  .button {
    font-size: 6px;
    height: 16px;
  }

  ul li {
    height: 16px;
  }

  ul li:first-child {
    margin-top: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .marker-info {
    max-width: 200px;
    font-size: 6px;
  }

  .marker {
    max-width: 8px;
  }
}
